@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Improtant message</h2>
<p>This is very <em>unimportant message</em>. It's <b>only</b> to demonatrate that the view can be called from the controller.</p>
<p>Thank you.</p>
